services:
  game:
    build: .
    container_name: cizim
    restart: unless-stopped
    expose:
      - "5000"
    environment:
      - PYTHONUNBUFFERED=1

  caddy:
    image: caddy:latest
    restart: unless-stopped
    container_name: caddy_proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config

volumes:
  caddy_data:
  caddy_config:
